doctype html
html
  include ./head.jade
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
      include ./nav.jade
    .container
      section
        .row
          .col-lg-12.text-center
            h1.section-heading= title
            h2.section-subheading= message
            p.text-muted
              //strong Click on one or more beads, then click on a colour and choose if you want to paint the whole bead or just half.
              strong Click on one or more beads then click on a colour. Move onto a new bead by clicking on it.
        div.row(data-module='chooseColours', id='svgWrapper')
          form(id='necklaceOrderForm', action='/insert-details' method='post', class='form-horizontal')
            .row
              .col-sm-6#test
                include ./svg.jade
              .col-sm-6
                div(id='colours')
                  ul.list-unstyled.list-inline
                    - var n = 0
                    for item in colours
                      li
                        button(type='button', class='btn btn-default btn-lg', style={background: item.value}, id=n, data-colour=item.name, data-hex=item.value)
                      - n++
                .row
                  .col-lg-12.text-center.buttons
                    button(id='downloadThisNecklace').btn.btn-lg Download necklace as image
                    button(id='orderThisNecklace').btn.btn-lg Order this necklace
                    button(id='confirmOrder').btn.btn-lg Order custom necklace
                  .modal.fade(tabindex='-1', role='dialog', id='beadPartModal')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4.modal-title Choose what part of the bead to paint
                        .modal-body
                            .row
                              .form-group
                                label(for='half', class='col-sm-4 control-label') Half
                                div.col-sm-2
                                  input(type='radio', id='half', name='beadPart', value='half', class='form-control beadPartInput')
                            .row
                              .form-group
                                label(for='full', class='col-sm-4 control-label') Full Bead
                                div.col-sm-2
                                  input(type='radio', id='full', name='beadPart', value='full', class='form-control beadPartInput')
                        .modal-footer
                          button.btn.btn-default(type='button', data-dismiss='modal', id='cancelModal') Cancel
                          button.btn.btn-primary(type='button', data-dismiss='modal', id='saveModal') Save changes
