doctype html
html
  include ./head.jade
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
      include ./nav.jade
    .container
      section
        .row
          .col-lg-12.text-center
            h1.section-heading= title
            h2.section-subheading= message
            p.text-muted Click on a bead and then choose a colour from the list
        div.row(data-module='chooseColours', id='svgWrapper')
          form(id='necklaceOrderForm', action='/confirm-order' method='post', class='form-horizontal')
            input(type='hidden', name='firstName', id='firstName', class='form-control', placeholder='First Name', value=firstName)
            input(type='hidden', name='lastName', id='lastName', class='form-control', placeholder='Last Name', value=lastName)
            input(type='hidden', name='email', id='email', class='form-control', placeholder='Email',value=email)
            input(type='hidden', name='address', id='address', class='form-control', placeholder='Address', value=address)
            .row
              .col-sm-6
                include ./svg.jade
              .col-sm-6
                div(id='colours')
                  ul.list-unstyled.list-inline
                    for item in colours
                      //li(style={background: item.value},class=item.value, data-colour=item.name)=item.name
                      li
                        button(type='button', class='btn btn-default btn-lg', style={background: item.value}, data-colour=item.name, data-hex=item.value)
                .row
                  .col-lg-12.text-center
                    button(id='confirmOrder').btn.btn-xl Order necklace
